<div class="input-wrapper">
    <div>
        <span class="input-label">{{label}}</span>
        <span (click)="toggleShow()" *ngIf="hideable" class="input-show-hide">
            <img [src]="hideInput ? '../../../assets/icon--eye-closed.svg' : '../../../assets/icon--eye-open.svg'">
            {{hideInput ? 'Show' : 'Hide'}}
        </span>
    </div>
    <div>
        <img 
        *ngIf="!valid && val && showError"    
        [src]="'../../../assets/icon--alert.svg'">
        <input
            [type]="hideInput ? 'password': 'default'"
            [(ngModel)]="val"
            (keyup)="updateVal()"
            (focus)="resetError(false)"
            (blur)="resetError(true)"
            >
        <span 
            (click)="resetVal()"
            *ngIf="val.length > 0"
            class="remove-box">
            X
        </span>
        <div *ngIf="!valid && val && showError"
            class="error-message">{{errorMessage}}</div>
    </div>
</div>