.sign-on{
    position: relative;
    float: left;
    width: 50%;
    height: 100vh;
    background-color: #EBEBEB;
}

.hero{
    float: right;
    width: 50%;
    height: 100vh;
}

.hero-img {
    height: 100%;
    width: 100%;
}

.sign-on-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 8px;
    margin-top: 50vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position:fixed;
    bottom:0;
    left: calc(25% - 100px);
}